.DS_Store
.gclient
.gclient_entries
_bad_scm/
src/.DS_Store
src/JUCE/
src/README.md
src/afx2lg/all.xcodeproj/
src/afx2lg/axe_backup/axe_backup.xcodeproj/
src/afx2lg/axe_http/axe_http.xcodeproj/
src/afx2lg/axe_loader/axe_loader.xcodeproj/
src/afx2lg/axefx/axefx.xcodeproj/
src/afx2lg/axys/axys.xcodeproj/
src/afx2lg/common/base.xcodeproj/
src/afx2lg/gtest/gtest.xcodeproj/
src/afx2lg/jsoncpp/jsoncpp.xcodeproj/
src/afx2lg/juce/juce.xcodeproj/
src/afx2lg/lg/lg.xcodeproj/
src/afx2lg/main/afx2lg.xcodeproj/
src/afx2lg/midi/midi.xcodeproj/
src/afx2lg/test/test.xcodeproj/
src/bcl/bcl.xcodeproj/
src/bcl/source/
src/gtest/
src/jsoncpp/
src/tools/
